CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MONGODB_URL=
MONGO_DB_NAME=

FRONTEND_URL=
BACKEND_URL=
CORS_ORIGIN=

SMTP_FROM=
SMTP_PROVIDER=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

JWT_SECRET=